header
  nav.deep-purple
    .nav-wrapper
      +topbar
      +sidebar

main
 +yield

//-.modal#auth
  .modal-content
    | Testing the modal.

script
  | $(".button-collapse").sideNav();
  //-| $(".dropdown-button").dropdown({ hover: false });
  //-| $('.modal-trigger').leanModal();
  | $('.collapsible').collapsible();

