script.
  $(document.body).addClass('pushable')

//.ui.left.vertical.inverted.labeled.icon.thin.visible.overlay.sidebar.menu
  .header.item
    | Dashboard
  a.item
    i.home.icon
    | Home
  a.item
    i.plus.icon
    | Add diagram

.ui.right.vertical.inverted.thin.visible.overlay.sidebar.menu
  .header.item
    | Diagram menu
  a#connectButton.item(class=connectButtonDisabledClass)
    i.plus.icon
    | Connect
  a.item(class=composeButtonDisabledClass)
    i.circle.icon
    | Compose
  a#eraseButton.item(class=eraseButtonDisabledClass)
    i.minus.icon
    | Erase
  .ui.inverted.vertical.fluid.menu
    .item.header
      | Selected cells
    each selectedCells
      .item {{this}}
  .ui.inverted.vertical.fluid.menu
    .item.header
      | Meteor status
    .item
      | {{connectionStatus}}


//.ui.top.fixed.inverted.small.menu
  a.item.left Home
  a.item.right Edit

//.ui.bottom.fixed.inverted.small.menu
  a.item.center Status

.pusher.dashboard
  each diagramInLayout
    +diagram
