.fixed-action-btn(style="bottom: 32px; right: 32px;")
  a.btn-floating.btn-large.black
    i.large.mdi-editor-mode-edit
  ul
    li: a#createButton.btn-floating.green: i.large.mdi-content-add
    li: a#deleteButton.btn-floating.red: i.large.mdi-content-remove