ul.left
  //-li: a.dropdown-button(data-activates="dropdown1"): i.mdi-navigation-more-vert
  li: a.button-collapse(data-activates="slide-out"): i.mdi-navigation-menu
//- a.brand-logo.left(href="#!") &#256;k&#257;&#347;a
ul.right
  li: a#editModeToggler: i(class=editModeIcon)
  li: a: i.mdi-social-notifications-none
.center My diagrams
ul.dropdown-content#dropdown1
  li: a one
  li: a two
  li.divider
  li: a three