if exists
  if isCurrent
    p È il tuo profilo.
    p Ecco i diagrammi che ti appartengono:
    each owned
      p: a(href="{{pathFor 'diagram'}}") {{_id}}
    p Ecco i diagrammi condivisi con te:
    each visible
      p: a(href="{{pathFor 'diagram'}}") {{_id}}
  else
    p Non è il tuo profilo.
    p Ecco i diagrammi che avete in comune:
    each coowned
      p: a(href="{{pathFor 'diagram'}}") {{_id}}
    p Ecco i diagrammi condivide con te:
    each shared
      p: a(href="{{pathFor 'diagram'}}") {{_id}}
else
  p L'utente non esiste.

