
.parallax-container.valign-wrapper.black
  .container.valign
    .row.center
      img(src="akasa.svg")
      //-h1.header.white-text &#2310;&#2325;&#2366;&#2358;
    .row.center
      //-h5.header.col.s12.white-text Commutative diagrams.
      a.btn-large.waves-effect.waves-light.deep-purple Commutative diagrams.
  .parallax: img(src="bambo.jpg")

nav.black
  .container.nav-wrapper
    ul.left
      li: a.brand-logo &#2310;&#2325;&#2366;&#2358;
    ul.right
      li.hide-on-med-and-down: a Navbar Link
      li: a.button-collapse(data-activates="nav-mobile"): i.mdi-navigation-menu
    ul.side-nav#nav-mobile


.container
  .section
    .row

      .col.s12.m6.l4: p
        .center: i.medium.mdi-image-flash-on
        .flow-text Yeah, I like animals better than people sometimes... Especially dogs. Dogs are the best. Every time you come home, they act like they haven't seen you in a year. And the good thing about dogs... is they got different dogs for different people. Like pit bulls. The dog of dogs. Pit bull can be the right man's best friend... or the wrong man's worst enemy. You going to give me a dog for a pet, give me a pit bull. Give me... Raoul. Right, Omar? Give me Raoul.

      .col.s12.m6.l4: p
        .center: i.medium.mdi-image-flash-on
        .flow-text The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee.

      .col.s12.m6.l4: p
        .center: i.medium.mdi-image-flash-on
        .flow-text Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.












.parallax-container.valign-wrapper.black
  .section.no-pad-bot
    .container
      .row.center
        h5.header.col.s12.light A blah blah blah blah
    .parallax: img(src="bambo.jpg")


footer.page-footer.teal
  .container
    .row
      .col.l6.s12
        h5.white-text Company Bio
        p.grey-text.text-lighten-4 We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.
      .col.l3.s12
        h5.white-text Settings
        ul
          li: a.white-text Link 1
          li: a.white-text Link 2
          li: a.white-text Link 3
          li: a.white-text Link 4
      .col.l3.s12
        h5.white-text Connect
        ul
          li: a.white-text Link 1
          li: a.white-text Link 2
          li: a.white-text Link 3
          li: a.white-text Link 4
  .footer-copyright
    .container
      Made by
      a.brown-text.text-lighten-3 Materialize

script
  | (function($){$(function(){$('.button-collapse').sideNav();/*$('.parallax').parallax();*/});})(jQuery);
